<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit recipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link type="text/css" rel="stylesheet"
	href="/css/bootstrap.min.css"
	 />
   <link type="text/css" rel="stylesheet"
	href="/css/style.css"
	 />
</head>
<body>
<h1>Edit recipe</h1>
<div>
	<div class="col-md-4" >
 		<form th:object="${recipe}" th:action="@{/save/{id}(id=${recipe.id})}" action="#" method="post">
		<label for="name">Name</label>
		<input type="text" size="48" id="name" th:field="*{name}" />
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name cannot be empty</p>
		<div class="spacer"></div>
		<div>
			<label for="ingredients">Ingredients</label>
			<textarea rows= "20" cols= "50" id="ingredients" th:field="*{ingredients}" />
			<div class="spacer"></div>
			<p th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Ingredients cannot be empty</p>
		</div>
		<div>
			<label for="instructions">Instructions</label>
			<textarea rows= "20" cols= "50" th:field="*{instructions}"/>
			<div class="spacer"></div>
			<p th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}">Instructions cannot be empty</p>
	
		</div>
		<div style="clear: both; display: block; height: 10px;"></div>						
			  	<label for="categorylist">Category</label>
				 <select id="categorylist" th:field="*{category}" class="form-control">
	       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
	    		</select>
    			<div class="bigspacer"></div>
		<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</div>
</body>
</html>