<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Recipelist</title>
<link type="text/css" rel="stylesheet"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="col-md-4">
		<h1>Recipes</h1>
	</div>
	<div sec:authorize="isAuthenticated()" class="col-md-4">
		<h3 th:inline="text">
			Welcome <span sec:authentication="name"></span>
		</h3>
	</div>
	<div class="col-md-4">
		<div sec:authorize="isAuthenticated()" class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
			<input type="submit" sec:authorize="isAuthenticated()" value="Sign Out" class="btn btn-danger" />
			</form>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-4" style="padding: 20px 0">
			<div sec:authorize="!isAuthenticated()" >
				<a class="btn btn-success" href="/login">Log in</a> 
			</div>
		</div>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Ingredients</th>
			<th>Instructions</th>
			<th>Category</th>
			<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
			<th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"></th>
		</tr>
		<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.name}"></td>
			<td th:text="${recipe.ingredients}"></td>
			<td th:text="${recipe.instructions}"></td>
			<td th:text="${recipe.category.name}"></td>
			<td sec:authorize="hasRole('ROLE_ADMIN')"><a
				th:href="@{/delete/{id}(id=${recipe.id})}" class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><a
				class="btn btn-primary" th:href="@{/edit/{id}(id=${recipe.id})}">Edit</a></td>
		</tr>
	</table>
		<div class="col-md-4">
			<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
			<a class="btn btn-success" href="/add">Add recipe</a>
			</div>
		</div>
</body>
</html>